.social-inner {
  padding: 5px;

  .social-open-button {
    display: block;
    margin: 10px auto;
    width: 150px;

    .close-text {
      display: none;
      pointer-events: none;
    }

    &.open {
      .close-text {
        display: inline-block;
      }
    }
  }
}

.sideview {

.sideview-controls-title {
  font-size: 20px;
}

  .sideview-iframe-holder {
    .social {
      height: 100%;
      width: 100%;

      iframe {
        height: 100%;
        width: 100%;
      }

      &.hidden {
        display: none;
      }
    }

    &.loading-iframe {
      .social {
        display: none;
      }
    }
  }
}
