  #dropdowncontainer, #id_cancel, #page-header, #page-footer, #page-header, .navbar, #dock, #block-region-side-pre, .breadcrumb-button, .fitem_id_mailnow, .fitemtitle, .fdescription, .fheader, .block_adminblock, .settings, #fitem_id_subject, #fitem_id_attachments, ol.breadcrumb li:not(:nth-last-child(-n+2)), .error, h2, input, .fitem_fcheckbox, .block_html {
      display: none !important;
  }

  body {
      padding: 0 !important;
  }

  .fitem_actionbuttons {
      text-align: center;
  }

  .feditor {
      max-width: 100% !important;
  }

  #region-main {
      width: 100% !important;
  }

  #page-content {
    margin-top: 10px;
  }

  #container {
      max-width: 100%;
      margin: 0;
      padding: 0;
  }

  #yourselection {
      font-size: 22px;
      font-weight: 600;
      color: black;
      text-align: center;
  }

  .three-column, .feditor {
      max-width: 100%;
  }
