  #dropdowncontainer, #id_cancel, #page-header, #page-footer, #page-header, .navbar, #dock, #block-region-side-pre, .breadcrumb-button, .fitem_id_mailnow, .fdescription, .fheader, .block_adminblock, .settings, #fitem_id_attachments, #id_displayperiod,  ol.breadcrumb li:not(:nth-last-child(-n+2)), h2, .fitem_fcheckbox, .block_html, .collapsible-actions, .controlscontainer {
      display: none !important;
  }

  body {
      padding: 0 !important;
  }

  .fitem_actionbuttons {
      text-align: center;
  }

  .feditor {
      max-width: 100% !important;
  }

  .hidden {
    display: inhert !important;
    visibility: inherit !important;
  }

  #region-main {
      width: 100% !important;
  }

  #page-content {
    margin-top: 10px;
  }

  #container {
      max-width: 100%;
      margin: 0;
      padding: 0;
  }

  .three-column, .feditor {
      max-width: 100%;
  }
